.inner-link-container {
    /* animation-duration: 2s;
    animation-name: slidein;
    transition: left 2s;
    left: -50px; */
    margin-left: 50px;
    /* margin-bottom: -5px; */
    transition: margin-left 1s;
}

.rmp-img {
    width: 22px;
    /* width: 0px; */
    padding-right: 5px;
    margin-bottom: -2px;
    /* transition: width 0.7s ease-in-out; */
}

.pt-img.professor {
    width: 18px;
    /* width: 0px; */
    padding-right: 5px;
    margin-bottom: -4px;
    /* transition: width 0.7s ease-in-out; */
}

.professor-rating {
    overflow: hidden;
    display: inline-flex;
    padding-left: 0px;
    /* margin-right: 0px; */
    transition: padding-left 1s;
}

.professor-rating-inner {
    margin-left: -40px;
    transition: margin-left 1s;
    /* color: #A81919; */
    font-weight: bold;
    color: white;
    border-radius: 4px;
    line-height: normal;
    padding-inline: 4px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.link-container {
    width: 50px;
    display: inline-block;
    overflow: hidden visible;
    /* clip-path: inset( -100vw -100vw -100vw 0 ); */
    white-space: nowrap;
    margin-bottom: -5px;
}

.course-reviews-container {
    padding-top: 5px;
}

.course-reviews-fieldset {
    margin-left: -15px;
    border-radius: 4px;
    max-width: 823px;
    transition: padding-bottom 0.7s ease-in-out, padding-top 0.7s ease-in-out;
    display: contents;
}

.course-reviews-header {
    padding-right: 4px;
    padding-left: 3px;
    margin-left: -2px;
    width: auto;
}

.course-reviews-header > * {
    display: inline-block;
}

.reviews-criteria > * {
    display: inline-flex;
    max-width: 0px;
    max-height: 22px;
    overflow: hidden;
    transition: max-width 0.7s ease-out;
}

.interaction {
    margin-left: 3px;
    display: none;
}

.label {
    padding-left: 10px;
}

/* .course-reviews-filter-dropdown-menu {

} */

/* .course-reviews-sort-button {

} */

.course-reviews-toggle-btn {
    color: #A81919;
    cursor: pointer;
    user-select: none;
    max-width: 105px;
}

.right-arrow {
    width: 6px;
    height: 9px;
    padding-right: 4px;
}

.left-arrow {
    width: 9px;
    padding-right: 3px;
    padding-bottom: 2px;
}

.course-reviews-body {
    max-height: 0px;
    overflow: auto;
    transition: max-height 0.7s ease-in-out;/*, padding-top 0.7s ease-in-out, padding-bottom 0.7s ease-in-out;*/
    border: 1px solid #eee;
    border-radius: 4px;
    max-width: auto;
    margin-top: -9px;
    display: none;
}

.course-reviews-body-content {
    padding: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    /* display: block; */
}

.body-content-header {
    font-weight: bold;
    padding-bottom: 2px;
}

#loading {
    display: inline-flex;
}